$colorprimery: #AA0601;
$colorDark: #650300;
.header {
  height: 200px;
  background-color:$colorprimery;
  display: flex;
}
.about-list
.footer {
  height: 200px;
  background-color: $colorDark;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
